appearance {
  title: ""
}
bindings {
  " " {
    actionId: SearchEverywhere, description: Search Everywhere
  }
  "." {
    description: Configuration
    bindings {
      t { actionId: VimFindActionIdAction, description: Track Action Ids }
      v {
        description: IdeaVim
        bindings: {
          r {actionId: IdeaVim.ReloadVimRc.reload, description: Reload}
        }
      }
      a {
        description: Ataman
        bindings {
          e {actionId: OpenAtamanConfigAction, description: Edit config}
          r {actionId: ReloadAtamanConfigAction, description: Reload}
        }
      }
    }
  }
  g {
    description: Git
    bindings {
      a {actionId: ChangesView.AddUnversioned, description: Add}
      b {actionId: Git.Branches, description: Show Branches}
      n {actionId: Git.CreateNewBranch, description: New Branch}
      c {actionId: CheckinProject, description: Commit}
      f {actionId: Git.Fetch, description: Fetch}
      p {actionId: Git.Pull, description: Pull}
      P {actionId: Vcs.Push, description: Push}
      T {actionId: Git.Tag, description: Tag}
      o {actionId: Github.Open.In.Browser, description: Open on GitHub}
      y {actionId: Github.Copy.Link.To.Github, description: Copy Link}
      s {actionId: Git.Stash, description: Stash}
      S {actionId: Git.Unstash, description: Unstash}
      l {actionId: Vcs.Show.Log, description: Show Log}
      R {actionId: ChangesView.Revert, description: Rollback}
    }
  }
  d {
    description: Debug
    bindings: {
      r {actionId: Rerun, description: Rerun}
      d {actionId: StepOver, description: Step over}
      o {actionId: StepOut, description: Step out}
      i {actionId: StepInto, description: Step into}
      b {actionId: ToggleLineBreakpoint, description: Breakpoint}
      c {actionId: Resume, description: Resume}
      S {actionId: Stop, description: Stop}
      R {actionId: RunClass, description: Run this}
      D {actionId: DebugClass, description: Debug this}
    }
  }
  t {
    description: Tabs
    bindings {
      s {actionId: SplitVertically, description: Split Vertically}
      S {actionId: SplitHorizontally, description: Split Horizontally}
      r {actionId: RecentFiles, description: Recent Files}
      R {actionId: RecentChangedFiles, description: Recent Changed Files}
      d {actionId: CloseContent, description: Close}
      D {actionId: CloseAllEditors, description: Close All}
      l {actionId: RecentLocations, description: Recent Locations}
      O {actionId: CloseAllEditorsButActive, description: Close Other}
      u {actionId: ReopenClosedTab, description: Reopen Closed Tab}
    }
  }
  i {actionId: ShowIntentionActions, description: Intentions}
  c {
    description: Code...
    bindings {
      l {actionId: ReformatCode, description: Lint}
      j {actionId: FileStructurePopup, description: Jump In Structure}
      i {actionId: ImplementMethods, description: Implement methods}
      r {actionId: RenameElement, description: Rename}
      R {actionId: RefactoringMenu, description: Refactor}
      y {actionId: CopyReference, description: Copy reference}
    }
  }
  s {actionId: SaveAll, description: Save All}
  f {
    description: File...
    bindings {
      n {actionId: NewElement, description: New}
      r {actionId: RenameFile, description: Rename}
      s {actionId: Synchronize, description: Reload All From Disk}
    }
  }
  v {
    description: View
    bindings {
      a {actionId: Annotate, description: Toggle Annotations}
      f {actionId: ToggleFullScreen, description: Fullscreen Mode}
      p {actionId: TogglePresentationMode, description: Presentation Mode}
      z {actionId: ToggleZenMode, description: Zen Mode}
    }
  }
  p {
    description: Project
    actionId: SelectInProjectView
  }
  P {
    description: Recent Projects
    actionId: "$LRU"
  }
  F {actionId: FindInPath, description: Find...}
  R {actionId: ReplaceInPath, description: Replace...}
  x {
    description: "Tools"
    bindings {
      v {actionId: "Tool_Go_go vet", description: "go vet"}
      t {actionId: "Tool_Go_go mod tidy", description: "go tidy"}
      l {actionId: "Tool_Go_golangci-lint", description: "golangci-lint"}
      m {actionId: "Tool_Go_mbimports", description: "mbimports"}
      n {actionId: "Tool_External Tools_nest", description: "nest"}
      e {actionId: "Javascript.Linters.EsLint.Fix", description: "eslint"}
    }
  }
}
