appearance {
  title: ""
}
bindings {
  " " {
    actionId: GotoFile, description: Search File
  }
  "." {
    description: Configuration
    bindings {
      t { actionId: VimFindActionIdAction, description: Track Action Ids }
      v {
        description: IdeaVim
        bindings: {
          r {actionId: IdeaVim.ReloadVimRc.reload, description: Reload}
        }
      }
      a {
        description: Ataman
        bindings {
          e {actionId: OpenAtamanConfigAction, description: Edit config}
          r {actionId: ReloadAtamanConfigAction, description: Reload}
        }
      }
    }
  }
  s {
    description: Search
    bindings {
      a { actionId: GotoAction, description: Action }
      c { actionId: GotoClass, description: Struct/Class }
      f { actionId: GotoFile, description: File }
      s { actionId: GotoSymbol, description: Symbol }
      t { actionId: TextSearchAction, description: Text }
      e { actionId: GotoUrlAction, description: Endpoint }
      F { actionId: FindInPath, description: Find }
      R { actionId: ReplaceInPath, description: Replace }
    }
  }
  b {
    description: Buffer
    bindings {
      s {actionId: SaveAll, description: Save All}
      d {actionId: CloseContent, description: Close}
    }
  }
  w {
    description: Window
    bindings {
      v {actionId: SplitVertically, description: Split Vertically}
      s {actionId: SplitHorizontally, description: Split Horizontally}
      l {actionId: NextSplitter, description: Next Splitter}
      h {actionId: PrevSplitter, description: Prev Splitter}
      d {actionId: CloseAllEditors, description: CloseAll}
    }
  }
  o {
    description: Open
    bindings {
      p {
        description: Project
        actionId: SelectInProjectView
      }
      P {
        description: Recent Projects
        actionId: "$LRU"
      }
    }
  }
  g {
    description: Git
    bindings {
      a {actionId: ChangesView.AddUnversioned, description: Add}
      A {actionId: Git.Stage.Add.Tracked, description: Stage Tracked}
      b {actionId: Git.Branches, description: Show Branches}
      n {actionId: Git.CreateNewBranch, description: New Branch}
      c {actionId: Git.Commit.Stage, description: Commit}
      f {actionId: Git.Fetch, description: Fetch}
      p {actionId: Git.Pull, description: Pull}
      P {actionId: Vcs.Push, description: Push}
      T {actionId: Git.Tag, description: Tag}
      o {actionId: Github.Open.In.Browser, description: Open on GitHub}
      y {actionId: Github.Copy.Link.To.Github, description: Copy Link}
      s {actionId: Git.Stash, description: Stash}
      S {actionId: Git.Unstash, description: Unstash}
      l {actionId: Vcs.Show.Log, description: Show Log}
      R {actionId: ChangesView.Revert, description: Rollback}
    }
  }
  d {
    description: Debug
    bindings: {
      r {actionId: Rerun, description: Rerun}
      d {actionId: StepOver, description: Step over}
      o {actionId: StepOut, description: Step out}
      i {actionId: StepInto, description: Step into}
      b {actionId: ToggleLineBreakpoint, description: Breakpoint}
      c {actionId: Resume, description: Resume}
      S {actionId: Stop, description: Stop}
      R {actionId: RunClass, description: Run this}
      D {actionId: DebugClass, description: Debug this}
    }
  }
  c {
    description: Code...
    bindings {
      a {actionId: ShowIntentionActions, description: Intentions}
      c {actionId: CommentByLineComment, description: Comment}
      l {actionId: ReformatCode, description: Lint}
      j {actionId: FileStructurePopup, description: Jump In Structure}
      i {actionId: ImplementMethods, description: Implement methods}
      r {actionId: RenameElement, description: Rename}
      R {actionId: RefactoringMenu, description: Refactor}
      y {actionId: CopyReference, description: Copy reference}
    }
  }
  f {
    description: File...
    bindings {
      n {actionId: NewElement, description: New}
      r {actionId: RenameFile, description: Rename}
      s {actionId: Synchronize, description: Reload All From Disk}
    }
  }
  x {
    description: "Tools"
    bindings {
      v {actionId: "Tool_Go_go vet", description: "go vet"}
      t {actionId: "Tool_Go_go mod tidy", description: "go tidy"}
      l {actionId: "Tool_Go_golangci-lint", description: "golangci-lint"}
      m {actionId: "Tool_Go_mbimports", description: "mbimports"}
      n {actionId: "Tool_External Tools_nest", description: "nest"}
      e {actionId: "Javascript.Linters.EsLint.Fix", description: "eslint"}
      c {
        description: "commonlib"
        bindings {
          d { actionId: "Tool_Go_commonlib@develop", description: "develop" }
          b { actionId: "Tool_Go_commonlib@branch", description: "branch" }
        }
      }
    }
  }
}
